body {
  margin: 0;
  background: #0a0a0f;
  color: #eaeaea;
  font-family: Arial;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  background: #140020;
  border-bottom: 2px solid #7c00ff;
}

header img {
  height: 40px;
}

main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.left, .right {
  flex: 1;
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 250px;
  background: black;
  color: #00ff9c;
  padding: 10px;
  border-radius: 8px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background: #7c00ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #9cff00;
  color: black;
}

#result {
  margin-top: 15px;
  padding: 10px;
  background: black;
  border-radius: 8px;
}

#timeline div {
  padding: 6px;
  margin: 4px 0;
  background: #222;
  border-left: 4px solid #9cff00;
}

footer {
  text-align: center;
  padding: 10px;
  color: #777;
}
